#page {
	width: 750px;
	margin: 20px auto;
}
		
#header h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 35px;
	font-weight: normal;
	line-height: 45px;
	text-transform: uppercase;
	border-bottom: 3px solid #c30;
	border-top: 3px solid #c30;
	padding: 1em 0.5em;
}
		
#content {
	margin: 1em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
}
		
#content a {
	color: #c30;
}

pre {
	padding: 0.5em 1em;
	border: 1px dashed gray;
	background-color: #eee;
}